<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	<http pattern="/resources/**" security="none" />
	<!-- enable use-expressions -->
	<http auto-config="false" use-expressions="true"
		disable-url-rewriting="false">
		<headers defaults-disabled="true">
			<frame-options policy="SAMEORIGIN" />
		</headers>
		<intercept-url pattern="/Home.series" access="hasAnyAuthority('A','B')" />
		<intercept-url pattern="/Categories.series" access="hasAnyAuthority('A','B')" />
		<intercept-url pattern="/Login.series" access="permitAll" />
		<intercept-url pattern="/403.series" access="permitAll" />
		<!-- access denied page -->
		<access-denied-handler error-page="/403.series" />
		<csrf disabled="true" />
		<form-login always-use-default-target="false" login-page="/Login.series"
			default-target-url="/Home.series" authentication-failure-url="/Login.series"
			username-parameter="nickDiv:j_username" password-parameter="passwordDiv:j_password"
			login-processing-url="/j_spring_security_check" />

		<logout logout-url="/j_spring_security_logout"
			logout-success-url="/logout.series?invalidSession=true" invalidate-session="true"
			delete-cookies="JSESSIONID" />

		<session-management invalid-session-url="/logout.series?invalidSession=true" />
		<headers disabled="true" />

		

	</http>
	

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>


</beans:beans>
